#Reestringe la navegación entre carpetas
Options -Indexes
#Sobreescribe las reglas de navegación
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /lab_prog_2025_reales_ivan_backend/public/
RewriteRule ^([a-zA-Z]+)$ index.php?controller=$1 [QSA,L]
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)$ index.php?controller=$1&action=$2 [QSA,L]
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z0-9]+)$ index.php?controller=$1&action=$2&id=$3 [QSA,L]

# RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ index.php?controller=$1&action=$2&id=$3&extra=$4 [QSA,L]
