.login-btn:hover{
    background-color: #333333;
}

.login-btn{
    background-color: #000; /* negro base */
    transition: background-color 0.3s ease;
}

.form-authentication{
    min-width: 290px;
    width: 500px;
}

.form-authentication .card{
    padding-top: 3em;
    padding-bottom: 3em;
}

.form-authentication input:focus{
    border-color: #333333;
    box-shadow: 0 0 5px #333333;
}
    