form input:focus{
    border-color: #333333 !important;
    box-shadow: 0 0 5px #333333 !important;
}

@media screen and (max-width: 576px) {
    .btn-group{
        width: 100%;
        gap: 1rem;
    }
    
}

@media screen and (max-width: 500px) {
    .btn-group{
        gap: 1rem;
    }
    
}